/**
 * massbank sidebar style
 */

.massbank-sidebar .menu-database a {
	background-position: 0 0;
}

.massbank-sidebar .menu-database a:HOVER {
	background-position: -225px 0;
}

.massbank-sidebar .menu-statistics a {
	background-position: 0 -60px;
}

.massbank-sidebar .menu-statistics a:HOVER {
	background-position: -225px -60px;
}

.massbank-sidebar .menu-publications a {
	background-position: 0 -120px;
}

.massbank-sidebar .menu-publications a:HOVER {
	background-position: -225px -120px;
}

.massbank-sidebar .menu-download a {
	background-position: 0 -180px;
}

.massbank-sidebar .menu-download a:HOVER {
	background-position: -225px -180px;
}

.massbank-sidebar .menu-manuals a {
	background-position: 0 -240px;
}

.massbank-sidebar .menu-manuals a:HOVER {
	background-position: -225px -240px;
}

.massbank-sidebar .menu-about a {
	background-position: 0 -300px;
}

.massbank-sidebar .menu-about a:HOVER {
	background-position: -225px -300px;
}

.massbank-sidebar .menu-contact a {
	background-position: 0 -360px;
}

.massbank-sidebar .menu-contact a:HOVER {
	background-position: -225px -360px;
}

.massbank-sidebar .menu-members a {
	background-position: 0 -420px;
}

.massbank-sidebar .menu-members a:HOVER {
	background-position: -225px -420px;
}

.massbank-sidebar ul li {
	line-height: 60px;
}

.massbank-sidebar ul li a {
	background: url("../../images/massbanksidebar/navi_global_en.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: transparent;
    display: block;
    text-align: right;
    width: 225px;
}

.massbank-sidebar ul li a em {
	border-color: transparent transparent transparent #ccc;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	display: inline-block;
	margin-right: 10px;
}

.massbank-sidebar ul li div {
	background: none repeat scroll 0 0 #f2f6ff;
	border: 1px dotted #b0b2b9;
	left: 240px;
	padding: 20px 0;
	position: absolute;
	top: 15px;
	display: none;
}

.massbank-sidebar ul li:HOVER {
    width: 230px;
}

.massbank-sidebar ul li:HOVER div {
	display: block;
}

.massbank-sidebar .menu-specsearch a {
	background-position: 0 0;
}

.massbank-sidebar .menu-specsearch a:HOVER {
	background-position: -225px 0;
}

.massbank-sidebar .menu-quicksearch a {
	background-position: 0 -35px;
}

.massbank-sidebar .menu-quicksearch a:HOVER {
	background-position: -225px -35px;
}

.massbank-sidebar .menu-peaksearch a {
	background-position: 0 -70px;
}

.massbank-sidebar .menu-peaksearch a:HOVER {
	background-position: -225px -70px;
}

.massbank-sidebar .menu-subssearch a {
	background-position: 0 -105px;
}

.massbank-sidebar .menu-subssearch a:HOVER {
	background-position: -225px -105px;
}

.massbank-sidebar ul li ul li {
	line-height: 35px;
}

.massbank-sidebar ul li ul li a {
	background: url("../../images/massbanksidebar/navi_sub.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}