/**
 * Basic styling for the Example skin.
 */

/* massbank layout */

.skin-massbank {
	font-family: "Segoe UI Light_","Open Sans Light",Verdana,Arial,Helvetica,sans-serif;
	font-size: 14px;
	background: none repeat scroll 0 0 #cee6f2;
}

.skin-massbank ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skin-massbank .place-left {
    float: left;
}

.skin-massbank .place-right {
    float: right;
}

.skin-massbank textarea,
.skin-massbank input.mw-summary,
.skin-massbank input[type="text"],
.skin-massbank input[type="search"] {
	border: 1px solid #d9d9d9;
	padding: 0.7em;
	vertical-align: top;
}

/**
 * background style
 */
.skin-massbank #mw-wrapper {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 5px 5px #b0c2cc;
}

.skin-massbank .bg-dark {
    background-color: #333333 !important;
}

/**
 * navigation menu style
 */
 
.skin-massbank ul.h-menu li {
	display: inline-block;
}
 
.skin-massbank .navigation-bar ul li:HOVER {
	background-color: #201a1a;
}

.skin-massbank .navigation-bar ul li {
	line-height: 45px;
	margin-right: 0;
}

.skin-massbank .navigation-bar ul li a {
	color: #ffffff;
	padding: 15px;
	text-decoration: none;
}
